@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全域border box的CSS reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* RWD img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Price-Select，加上"位"才有效果 */
sub {
  vertical-align: sub;
}

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  color: #221e1f;
}

/*（外容器）自適應:最大不超過1200px，自適應水平置中 */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.socialmedia-icon {
  width: 90px;
  height: 90px;
}

.font-size12 {
  font-size: 12px;
}

.font-size29 {
  font-size: 29px;
}

.text-align-c, .subtitle, h3, p {
  text-align: center;
}

.font-weight, .subtitle, h3, h4 {
  font-weight: bold;
}

.subtitle {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.font-blod {
  font-weight: bold;
}

.text {
  color: #747474;
}

.text-colorprimary {
  color: #56c4c5;
}

.text-colorbase {
  color: #221e1f;
}

.text-colorspecial {
  color: #747474;
}

.text-color {
  color: #fff;
}

.text-left {
  text-align: left;
}

a {
  display: block;
  text-decoration: none;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin: 0 16px 0 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-100 {
  margin-bottom: 100px;
}

.btn {
  width: 136px;
  height: 49px;
  background: #56C4C5 0% 0% no-repeat padding-box;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}

.btn h4 {
  color: #fff;
  font-weight: normal;
  letter-spacing: 0px;
}

.btn:hover {
  background: #f6cb52;
  border: 1px solid #f6cb52;
}

.btn:hover h4 {
  color: #221e1f;
}

.btn-color {
  width: 128px;
  height: 40px;
  background: #FF5D50 0% 0% no-repeat padding-box;
  border-radius: 22px;
  border: 1px solid #FF5D50;
}

.btn-color h4 {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0px;
}

.btn-color:hover {
  background: #ffffff;
  border: 1px solid #FF5D50;
}

.btn-color:hover h4 {
  color: #FF5D50;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.square {
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 24px 32px;
}

.equal {
  padding: 32px 17px;
}

/* {
    outline: 1px solid red;
}*/
/*_main.scss header*/
.headerBg {
  background-image: url("https://raw.githubusercontent.com/NaraChou/chatTalker-AI/main/images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  height: 100vh;
  padding: 0 141px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.header img {
  width: 218px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.banner .bannerTxt h4 {
  color: #56c4c5;
}

.banner .bannerTxt .subtitle {
  text-align: left;
  font-size: 48px;
}

.banner .bannerTxt h5 {
  font-size: 20px;
  font-weight: bold;
}

.banner .bannerPhoto {
  width: 532px;
}

@media (max-width: 992px) {
  .headerBg {
    height: 60vh;
  }
  .banner .bannerTxt .subtitle {
    font-size: 32px;
  }
  .banner .bannerTxt h5 {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .headerBg {
    background-image: url("https://raw.githubusercontent.com/NaraChou/chatTalker-AI/main/images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: 334px 245px;
    height: 100vh;
    padding: 0;
    margin-bottom: 92px;
  }
  .header {
    padding: 16px 20px;
    margin-bottom: 32px;
    border-bottom: 2px solid #f6cb52;
  }
  .header img {
    width: 131px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  .banner .bannerTxt .subtitle {
    font-size: 32px;
  }
  .banner .bannerTxt h5 {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .banner .bannerPhoto {
    width: 304px;
    height: 305px;
  }
}

/*_main.scss 三大平台，我來搞定*/
.socialmedia {
  max-width: 969px;
}

.socialmedia .socialmediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.socialmedia .socialmediaList .socialmediaList-item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 576px) {
  .socialmedia {
    padding: 0 61px;
    max-width: 374px;
    margin-bottom: 36px;
  }
  .socialmedia .subtitle {
    max-width: 252px;
    font-size: 28px;
    margin-bottom: 32px;
  }
  .socialmedia .socialmediaList .socialmedia-icon {
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
  }
  .socialmedia .socialmediaList h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .socialmedia .socialmediaList .text {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .socialmedia .socialmediaList .socialmediaList-item {
    width: 100%;
  }
}

/*_main.scss 任何的角色，我都能給*/
.card {
  max-width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .text-size {
  font-size: 20px;
}

.card .cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.card .cardList .cardListitem {
  width: 25%;
  padding-left: 8px;
  padding-right: 8px;
}

.card .cardList .cardListitem img {
  border-radius: 12px 12px 0px 0px;
}

.card .cardList .cardListitem .cardListitem-Body {
  padding: 16px 16px 24px 16px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 576px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    max-width: 576px;
    margin-bottom: 36px;
  }
  .card .subtitle {
    max-width: 280px;
    font-size: 28px;
  }
  .card .text {
    margin-bottom: 32px;
    font-size: 18px;
  }
  .card .cardList {
    max-width: 260px;
  }
  .card .cardList .text {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .card .cardList .cardListitem {
    width: 100%;
    margin-bottom: 24px;
    padding: 0;
  }
}

/*_main.scss 快速了解客戶輪廓 建立品牌流量池*/
.Branding {
  max-width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Branding .BrandingList {
  max-width: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -32px;
  margin-right: -32px;
}

.Branding .BrandingList .BrandingListItem {
  width: 40.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 32px;
  padding-left: 32px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-right: 24px;
  margin-left: 24px;
}

.Branding .BrandingList .BrandingListItem .BrandingListItem-Body .text {
  text-align: left;
}

.Branding .BrandingList .BrandingListItem .cicle {
  width: 86px;
  height: 86px;
  position: relative;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  margin-bottom: 24px;
}

.Branding .BrandingList .BrandingListItem .cicle .position-analyze {
  position: absolute;
  right: 15px;
  top: 15px;
}

.Branding .BrandingList .BrandingListItem .cicle .position-bot {
  position: absolute;
  right: 18px;
  top: 18px;
}

.Branding .BrandingList .BrandingListItem .cicle .position-message {
  position: absolute;
  right: 20px;
  top: 25px;
}

.Branding .BrandingList .BrandingListItem .cicle .position-bulk {
  position: absolute;
  right: 22px;
  top: 22px;
}

.Branding .aside {
  max-width: 581px;
  padding: 0 50px 0 135px;
}

.Branding .aside .subtitle {
  text-align: left;
}

@media (max-width: 992px) {
  .Branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .Branding .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }
  .Branding .aside .subtitle {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .Branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    max-width: 374px;
    margin-bottom: 36px;
  }
  .Branding .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
  .Branding .aside .subtitle {
    font-size: 28px;
    text-align: center;
  }
  .Branding .aside h4 {
    font-size: 16px;
  }
  .Branding .BrandingList {
    max-width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Branding .BrandingList .BrandingListItem {
    padding-left: 24px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 24px;
  }
}

/*_main.scss 好評如潮*/
.reviewCard {
  max-width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviewCardList {
  width: 352px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 48px 32px 24px 32px;
  position: relative;
}

.reviewCardList .photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -70px;
  left: 30px;
}

.reviewCardList .hr-color {
  border: 1px solid #e4e4e4;
  opacity: 0.5;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.star .star-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -4px;
}

.star .star-icon img {
  padding: 4px;
}

.reviewCard-page {
  text-align: center;
}

.reviewCard-page .owl-dot {
  border: none;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #DDDDDD;
  opacity: 1;
  border-top: 0;
  border-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 4px;
}

.reviewCard-page .active {
  background-color: #FFD153;
  width: 16px;
}

@media (max-width: 767px) {
  .review {
    margin-bottom: 60px;
  }
  .reviewCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviewCard .reviewCardList {
    margin-bottom: 24px;
  }
  .rwdPad {
    display: none;
  }
}

/*_main.scss footer*/
.footer {
  background-image: url("https://raw.githubusercontent.com/NaraChou/chatTalker-AI/main/images/home_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer .footer-plan {
  height: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 576px) {
  .footer {
    background-image: url(https://raw.githubusercontent.com/NaraChou/chatTalker-AI/main/images/footer_sm.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  .footer .footer-plan {
    height: 461px;
  }
  .footer .footer-plan .subtitle {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .footer .footer-plan .btn {
    margin-bottom: 60px;
  }
}

.copyright {
  background: #F5F5F5;
  padding: 16px 0px;
}

/*_main.scss Price-header*/
.headerBgPrice {
  background-image: url("https://raw.githubusercontent.com/NaraChou/chatTalker-AI/main/images/banner.svg");
  background-repeat: no-repeat;
  background-position: top right;
  height: 60vh;
  padding: 0 141px;
}

.bgColor {
  position: absolute;
  width: 100%;
  height: 470px;
  border-radius: 0 0 0 300px;
  background: #f7f9fd;
  top: 0;
  z-index: -15;
}

.bannerPriceTxt {
  padding: 100px 0 180px 0;
}

.bannerPriceTxt .subtitle {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
}

.bannerPriceTxt h5 {
  font-weight: bold;
}

/*_main.scss Price-Select*/
.btn-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-price .btn-border {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #56C4C5;
}

.btn-price .btn-border h4 {
  color: #56C4C5;
}

.btn-border:hover {
  background: #56C4C5;
}

.btn-border:hover h4 {
  color: #fff;
}

.priceSelectPlan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -16px;
}

.priceSelectPlan .subtitle {
  font-weight: normal;
  margin-right: 8px;
}

.priceSelectPlan .priceSelectItem {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-right: 16px;
}

.priceSelectPlan .priceSelectItem .border-bottom {
  border-bottom: 1px solid #747474;
  padding: 10px 0;
}

.priceSelectPlan .priceSelectItem .padding {
  padding: 32px 24px;
}

.priceSelectPlan .priceSelectItem .padding .btn {
  margin: 0 122px;
}

.priceSelectPlan .priceSelectItem .padding .priceTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priceSelectPlan .priceSelectItem .padding .propertyItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*_main.scss Price-QA*/
.qaPrice h3 {
  font-size: 32px;
}

.qaListitem {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qaListitem p {
  text-align: left;
}

/* JQuery scrollTop */
.btn-top {
  width: 71px;
  height: 71px;
  background: #56C4C5 0% 0% no-repeat padding-box;
  border: 1px solid #56C4C5;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
}

.top {
  color: #fff;
}
/*# sourceMappingURL=all.css.map */