// 文字大小 font-size
$font-s: 16px;
$font-m: 18px;
$font-l: 24px;
// 寬度 width

// font-weight
$font-weight: bold;

// 顏色 color
$color-primary: #56c4c5; //grenn
$color-secondary: #f6cb52; //orange
$color-base: #221e1f;
$color-special: #747474;
// 文字字型 font-family
$font-family-base: "Noto Sans TC", sans-serif;